body {
    margin: 0;
    font-size: 16px;
    color: #11656b;
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.9);
    height: 50px;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

footer {
    padding: 1em;
    height: 40px;
    background-color: #18676d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid #11656b;
    border-bottom: 4px solid #11656b;
    text-transform: uppercase;
    color: white;
}

section {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section h1,
section h2 {
    font-family: 'Roboto Slab', serif;
    color: #11656b;
}

section h1 {
    width: 50%;
    color: white;
    font-size: 2em;
}

section h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 1.5em;
}

div.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #comp {
    color: white;
    font-size: 1.2em;
}

footer div {
    margin: 0.1em;
}

.login {
    background-color: rgba(167, 165, 165, 0.7);
    border-radius: 1em;
    padding: 0.4em 0.3em;
    color: white;
}

a.button:hover {
    color: #11656b;
    background-color: rgb(167, 165, 165);
}

.link a {
    margin: 15px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    color: unset;
    text-decoration: unset;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: #11656b;
    margin: 5px 0;
}

footer #logoimg {
    height: 2em;
    width: 3em;
}


#social img {
    height: 2em;
    width: 2em;
    margin: 0.3em;
    cursor: pointer;
}

#author p {
    margin: 0.5em;
}


#logoimg {
    height: 4em;
    width: 6em;
}

#logo {
    display: flex;
    align-items: center;
}

#author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9em;
}

#logo {
    display: flex;
    align-items: center;
}

#comp {
    font-family: 'Roboto Mono', 'Segoe UI', monospace;
    font-weight: bolder;
    font-size: 2em;
}

#menu {
    display: none;
}

@media (max-width: 810px) {
    body {
        font-size: 12px;
    }
    section div {
        width: 500px;
        height: 333px;
    }
    div.productContainer {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    div.link {
        display: none;
    }
    div#menu {
        display: block;
    }
    section h1 {
        font-size: 1.5em;
    }
    nav {
        justify-content: space-around;
    }
    section div {
        width: 400px;
        height: 266px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 10px;
    }
    .socialimg {
        height: 1.5em;
        width: 1.5em;
    }
}

@media(max-width: 450px) {
    section div {
        width: 300px;
        height: 200px;
    }
}

footer #comp {
    color: white;
    font-size: 1.2em;
}

footer div {
    margin: 0.1em;
}

footer #logoimg {
    height: 2em;
    width: 3em;
}

#logo {
    display: flex;
    align-items: center;
}

#author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9em;
}

#author p {
    margin: 0.5em;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


