/*!* CSS of the new section "poster" *!*/
div.titleproductContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productContainer img {
    width: auto;
    height: 180px;
}

.titleproductContainer img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 5px;
}

div.productContainer {
    margin: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.hidden {
    display: none !important;
}

li {
    line-height: 2;
}

.list h3{
    display: flex;
    justify-content: center;
}

.save{
    background-color: #0e9290;
    color: white;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

input[type="number"] {
    border: 2px solid #11656b;
    border-radius: 14px;
    padding-left: 50px;
}
