/*!* CSS of the new section "poster" *!*/
div.titleproductContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productContainer img {
    width: auto;
    height: 180px;
}

.titleproductContainer img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

div.productContainer {
    margin: 30px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

li {
    line-height: 2;
}

.list h3{
    display: flex;
    justify-content: center;
}
