    section#apiNews div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 10px;
    padding: 5px;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 30%);
}

section#apiNews div img {
    width: 200px;
}

section#apiFinnhub div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 5px;
    padding: 5px;
}

section#apiFinnhub div img {
    width: 40px;
}

section#apiFinnhub {
    margin: 50px;
    align-items: center;
    justify-content: center;
}

section.grid h1 {
    color: unset;
}

section#apiNews {
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
}

.title {
    font-style: italic;
    text-align: center;
    font-size: 3em;
    margin: 1em;
}

section#apiNews div p {
    font-family: 'Roboto Slab', serif;
    padding: 5px;
}

div.choices {
    flex-wrap: wrap;
    padding: 50px;
}

div#promo {
    justify-content: flex-start;
}

#bio {
    color: greenyellow;
    text-shadow: 2px 2px 1px rgb(5, 71, 5);
    font-weight: bolder;
}

#slogan {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    color: white;
    z-index: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(11, 77, 51);
}

header {
    height: 500px;
    background-image: url(../img/header/network-background.jpg);
}



