body {
    margin: 0;
    font-size: 16px;
    color: #11656b;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #11656b;
}

a {
    cursor: pointer;
    color: rgb(171, 220, 179);
    font-style: italic;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    height: 4em;
}

.comp {
    font-family: 'Roboto Mono', 'Segoe UI', monospace;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}


.remember {
    display: flex;
}

form div {
    padding: 2px;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    width: 90%;
    padding: 1em;
    height: 40px;
    background-color: #11656b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: white;

}

footer #logoimg {
    height: 2em;
    width: 3em;
}

footer #comp {
    color: white;
    font-size: 1.2em;
}

footer div {
    margin: 0.2em;
}

@media (max-width: 300px) {
    body {
        font-size: 10px;
    }
}

section div {
    display: flex;
    flex-direction: column;
}
